body {
    background-color: linen;
    text-align: center;
    color: gray;
    max-width: 1000px;
    margin: auto;
    font-family: 'Martel Sans', sans-serif;
}

a {
    font-family: 'Petit Formal Script', cursive;
    color: gray;
}

.links a {
    text-decoration: none;
    font-size: 1.25em;
    padding: 15px;
}

.center-block a {
    font-size: 22px;
}

a:hover {
    font-weight: bold;
}

a.active {
    font-weight: bold;
}

.header {
    font-size: 3em;
    margin: .5em auto;
    font-weight: bold;
    font-family: 'Petit Formal Script', cursive;
}

.center-block {
    width: 85%;
    margin: auto;
    background-color: peachpuff;
    padding: 30px;
    border-radius: 30px;
}

.center-block img {
    width: 100%;
    border-radius: 15px;
}

.blossom {
    height: 2.25em;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.links {
    margin: 20px 10%;
    display: flex;
    justify-content: space-between;
}

#map {
    height: 500px;
}
