body {
    background-color: linen;
    text-align: center;
    font-family: 'Petit Formal Script', cursive;
    color: gray;
    max-width: 1000px;
    margin: auto;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

a.active {
    font-weight: bold;
}

.header {
    font-size: 52px;
    margin: 15px;
    font-weight: bold;
}

.center-block {
    width: 85%;
    margin: auto;
    background-color: peachpuff;
    padding: 30px;
    border-radius: 30px;
}

.center-block img {
    width: 100%;
    border-radius: 15px;
}

.blossom {
    width: 20%;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.links {
    margin: 20px 15%;
    display: flex;
    justify-content: space-between;
}
